atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
chardet==3.0.4
colorama==0.4.4
docopt==0.6.2
fake-useragent==0.1.11
idna==2.5
iniconfig==1.1.1
key==0.4
packaging==20.9
pipreqs==0.4.10
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
pytest-rerunfailures==10.0
requests==2.25.1
requests2==2.16.0
selenium==3.141.0
soupsieve==2.2.1
toml==0.10.2
urllib3==1.21.1
yarg==0.1.9
